<h2>Lista de Tareas</h2>
<mat-list role="list">
    <mat-list-item *ngFor="let task of tasks()" role="listitem">
        <mat-checkbox class="example-margin" [checked]="task.completed" (change)="toggleCompletion(task)">
            {{ task.title }}
        </mat-checkbox>
        <button (click)="editTask(task)" mat-button>Edit</button>
        <button (click)="deleteTask(task.id)" mat-button>Delete</button>
    </mat-list-item>
</mat-list>

<div>
    <a mat-fab extended (click)="addTask()">
        <mat-icon>add</mat-icon>
        Add Task
    </a>
</div>